<footer class="bg-tom-thumb-600 w-full">
    <div class="max-w-screen-md mx-auto flex flex-col items-center py-4 px-4">
      
      <!-- Logo -->
      <span class="mb-4">
        <img src="src/assets/logo.png" alt="company logo" class="rounded-full object-cover w-20 h-20">
      </span>
  
      <!-- Navigation Links -->
      <div class="flex flex-wrap items-center justify-center gap-4 lg:gap-8 text-dark-grey-900 mb-4">
        <a href="index.html" class="text-white hover:text-mantis-400">Home</a>
        <a href="courses.html" class="text-white hover:text-mantis-400">Courses</a>
        <a href="cert.html" class="text-white hover:text-mantis-400">Certificates</a>
        <a href="about-us.html" class="text-white hover:text-mantis-400">About Us</a>
        <a href="contact.html" class="text-white hover:text-mantis-400">Contact</a>
      </div>
  
      <!-- Footer Text -->
      <div class="text-center">
        <p class="text-sm font-normal leading-6 text-white">
          © 2025 Skill Armor. All rights reserved.
        </p>
      </div>
  
    </div>
  </footer>